.container-comentario {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.modificado {
    font-style: italic;
    font-size: 0.9em;
    color: #6c757d;
    display: flex;
    align-items: center;
    margin-left: 5px;
}