<div class="session">

    <form action="" class="log-in" [formGroup]="grupoRegistro" (ngSubmit)="enviarRegistro()" >

        <h4>Registro</h4>
        <p>Bienvenido! Registrate para acceder a nuestra Red Social y contactar a tus amigos.</p>
        <div class="floating-label">
            <div>
                <input class="me-5" placeholder="Nombre" type="text" formControlName="nombre" name="nombre" id="nombre">
                <!-- Validaciones nombre -->
                @if (nombre?.errors?.["required"] != null && nombre?.touched) {
                        <small class="error">El nombre es requerido.</small>
                    }
                @if (nombre?.errors?.["minlength"]) {
                    <small class="error">El nombre debe tener al menos 3 caracteres.</small>
                }
                @if (nombre?.errors?.["pattern"]) {
                    <small class="error">El nombre solo puede contener letras y espacios.</small>
                }
            </div>

            <div>
            <input placeholder="Apellido" type="text" formControlName="apellido" name="apellido" id="apellido" >
                <!-- Validaciones apellido -->
                @if (apellido?.errors?.["required"] != null && apellido?.touched) {
                        <small class="error">El apellido es requerido.</small>
                    }
                    @if (apellido?.errors?.["minlength"]) {
                        <small class="error">El apellido debe tener al menos 3 caracteres.</small>
                }
                @if (apellido?.errors?.["pattern"]) {
                    <small class="error">El apellido solo puede contener letras y espacios.</small>
                }
            </div>

        </div>

        <div class="floating-label">
            <div>
                <input class="me-5" placeholder="Email" type="email" formControlName="email" name="email" id="email" >
                <!-- Validaciones email -->
                @if(email?.errors?.["required"] != null && email?.touched) {
                        <small class="error">El email es requerido.</small>
                    }
                    @if (email?.errors?.["email"]) {
                        <small class="error">El email no es válido.</small>
                }
                    <!-- si email ya existe -->
                    @if (email?.errors?.["emailExiste"]) {
                        <small class="error">El email ya está registrado.</small>
                    }
            </div>

            <div >
                <input type="date" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" name="fechaNacimiento" id="fechaNacimiento">
                <!-- Validaciones fecha de nacimiento -->
                @if (fechaNac?.errors?.["required"] != null && fechaNac?.touched) {
                        <small class="error">La fecha de nacimiento es requerida.</small>
                    }
            </div>

        </div>

        <div class="floating-label">
            <div>
                <input class="me-5" placeholder="Password" type="password" formControlName="password" name="password" id="password" >
                <!-- Validaciones password -->
                @if(password?.errors?.["required"] != null && password?.touched) {
                        <small class="error">La contraseña es requerida.</small>
                    }
                    @if (password?.errors?.["minlength"]) {
                        <small class="error">La contraseña debe tener al menos 6 caracteres.</small>
                }
            </div>

            <div>
                <input placeholder="Confirm Password" type="password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword">
                <!-- Validaciones confirm password -->
                @if (confirmPassword?.errors?.["required"] != null && confirmPassword?.touched) {
                        <small class="error">La confirmación de la contraseña es requerida.</small>
                    }
                    @if (confirmPassword?.errors?.["minlength"]) {
                        <small class="error">La confirmación de la contraseña debe tener al menos 6 caracteres.</small>
                }
            </div>
        </div>

        <div class="floating-label">
            <input type="text" placeholder="Nombre de Usuario" formControlName="userName" name="userName" id="userName">
            <!-- Validaciones username -->
            @if (userName?.errors?.["required"] != null && userName?.touched) {
                    <small class="error">El nombre de usuario es requerido.</small>
                }
                @if (userName?.errors?.["minlength"]) {
                    <small class="error">El nombre de usuario debe tener al menos 3 caracteres.</small>
                }
                @if (userName?.errors?.["pattern"]) {
                    <small class="error">El nombre de usuario solo puede contener letras y números.</small>
                }
        </div>

        <div class="floating-label">
            <input type="text" placeholder="Descripción breve" formControlName="descripcion" >
            <!-- Validaciones descripcion -->
             @if (descripcion?.errors?.["maxlength"]) {
                    <small class="error">La descripción no puede exceder los 200 caracteres.</small>
                }
        </div>

        <div class="floating-label">
            <input type="file" (change)="seleccionarArchivo($event)">
        </div>
        
        <button class="btn btn-secondary mt-5" type="submit">Continuar</button>
        <a routerLink="/login" class="discrete">Volver al login</a>
    </form>
</div>